html{
  overflow:hidden;
}
body{
  padding:0px 20px 10px 20px;
  font-family:"Microsoft YaHei",Georgia,Verdana,Arial,Helvetica,sans-serif,NSimSun,SimSun;
  background-color: #F3F3F3;
  overflow:hidden;
}
hr{
  margin:0 10px;
}
img{
  border:none;
}
div.content{
  line-height: 200%;
  padding:0 1em;
  padding-bottom:15px;
  height:auto;
}
div.content a{
  text-decoration:none;
  color:inherit;  
}
.strong{
  font-size:1.4em;
  font-weight:bold;
  color:#036;
}
p{
  text-indent:2em;
  margin:8px 0px;
}
h2{
	
}
div.c{
  text-align:center;
  margin:auto;
}
div.clear{
  clear:both;
}
h3{
  margin:5px 0;
}
ul{
  margin:5px 0;
}